.getService-container{
    height: 500px;
    width: 100%;
   
}

.getService-text{
  color: red;
  
   margin-top: 15%;
}

@media screen and (max-width:800px) {
    .getService-container{
        height: 400px;
        width: 100%;
    }
}